Bitmap_1 BITMAP "icons\\conv.bmp"
Bitmap_Convert BITMAP "icons\\convert.bmp"
PngImage_2 RCDATA "icons\\convert.png"
PngImage_3 RCDATA "icons\\convert2.png"
Bitmap_csON BITMAP "icons\\csharp.bmp"
Bitmap_csOFF BITMAP "icons\\csharp_off.bmp"
Bitmap_5 BITMAP "icons\\export.bmp"
Bitmap_6 BITMAP "icons\\new.bmp"
Bitmap_7 BITMAP "icons\\open.bmp"
Icon_7 ICON "icons\\prog_1.ico"
Bitmap_8 BITMAP "icons\\Redo.bmp"
Bitmap_9 BITMAP "icons\\reset.bmp"
Bitmap_rubyON BITMAP "icons\\ruby.bmp"
Bitmap_rubyOFF BITMAP "icons\\ruby_off.bmp"
Bitmap_12 BITMAP "icons\\save.bmp"
Bitmap_13 BITMAP "icons\\saveas.bmp"
Bitmap_14 BITMAP "icons\\selected.bmp"
Bitmap_15 BITMAP "icons\\settings.bmp"
Bitmap_16 BITMAP "icons\\Undo.bmp"
